<app-slider [nombre]="'Peliculas'" [size]="'small'"></app-slider>

<div class="center">

    <section id="content">
        <!--
        <h1> {{titulo}}</h1>
        <button (click)="cambiarTitulo()"> pulsamexd</button>

        <hr />

        <h2>Mostrar primera pelicula</h2>
        {{peliculas[0].title}}
        <hr>

        <h2>Numero de peliculas</h2>
        <div *ngIf="peliculas.length <= 3">
            Hay pocas peliculas:

        </div>

        <div *ngIf="peliculas.length > 3">
            Hay muchas peliculas
        </div>
        {{peliculas.length}}
    -->

    <div id="favorita" *ngIf="favorita">

        <script>
            console.log("LLego a favorita en vista");
        </script>
        <h2 class="subheader">
            Pelicula favorita
        </h2>
        <h4>
            {{favorita.title | uppercase}}
        </h4>
        <h5>
            {{favorita.year | espar}}
        </h5>
        <h5>
            {{this.fecha | date: 'short'}}
        </h5>
  
    
    </div>
        <hr>

        <div *ngFor="let pelicula of peliculas; let i = index;">

            <article *ngIf="peliculas">
                <app-pelicula 
                [pelicula]="pelicula"
                (MarcarFavorita) = "mostrarFavorita($event)"               
                ></app-pelicula>
            </article>
        </div>

    </section>
    <app-sidebar></app-sidebar>
</div>